wifi_connection_status.txt
wifi.conf
poke.id
__pycache__
*.exe
server.txt

# added from react native git ignore
**/node_modules/**/*
**/.expo/*
**/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
**/web-build/
**/web-report/

# macOS
.DS_Store
